// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font_size:12px;

.small_font_rating {
	font-size: $font_size;
	font-weight: bold;
}

.small_font {
	font-size: $font_size;
}